@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

hr.new1 {
    border: 1px solid ;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

header{
	background-color: rgba(0,0,0,.50);
}

article{
    padding: 20px;
    width: 85%;
    background-color: rgba(255,255,255,.85);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

body{
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
        
h1{
    color: DarkViolet;
    text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
}

table{
	table-layout: auto;
	opacity: 1.0;
}

th{
	font-size: large;
	background: DarkGray;
}

p.fliesstext{
    color: black;
    font-size: large;
    text-align: left;
	font-size: 2vw;
	font-family: 'Open Sans', sans-serif;
}

p.normtext{
	color: black;
    font-size: large;
    text-align: center;
	font-size: 2vw;
	font-family: 'Open Sans', sans-serif;
}

footer{
    display: flex;
	width: 85%;
	height: 75px;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
	background-color: rgba(255,255,255,.85);
	border-radius: 20px 20px 20px 20px;
}

address{
	color: black;
	text-align: center;
	font-size: 1.5vw;
	font-family: 'Open Sans', sans-serif;
}

a:link {
  color: DarkViolet;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
	background-color: rgba(255,255,255,.50);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  max-hight:auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  max-width: auto;
  padding: 16px;
  margin-top: -50px;
  margin-left: 4%;
  margin-right: 4%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
